@font-face {
    font-family: "customfont";
    src: url('./assets/fonts/Montserrat-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family:"headingcustomfont" ;
    src: url('./assets/fonts/HomemadeApple-Regular.ttf') 
    format('truetype'); 
    fpmt-style: normal;
    font-diplay: swap
}